<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/profilestyle.css" />
  </head>
  <body>
    <div class="container">
      <h2>User's Profile</h2>
      <div class="inner">
        <form action="/users/signout" method="POST">
              <div class="details">
                <h1><%= user.name%></h1>
                <h1><%= user.email%></h1>
              <input type="submit" value="SignOut" class="btn">  
            </div>
          </form>
      </div>
       
    </div>
  </body>
</html>
