<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/signupstyle.css" />
  </head>
  <body>
    <div class="container">
      <div class="inner">
          <div class="form-div">      
          <form action="/users/create" method="POST" class="signup-form">
              <input
                type="text"
                name="name"
                id="name"
                placeholder="EnterName"
              />
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter Email"
              />
              <input
                type="text"
                name="username"
                id="username"
                placeholder="Username"
              />
              <input
                type="password"
                name="password"
                id="password"
                placeholder="EnterPassword"
              />
              <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              placeholder="RetypePassword"
            />
              <input type="submit" value="SignUp" class="btn" />
            </form>
          </div>
      </div>
    </div>
  </body>
</html>
