<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/signinstyle.css">
  </head>
  <body>
    <div class="container">
      <h1>SignIn Here</h1>
      <div class="inner">
        <form action="/users/create-session" method="POST" class="signin-form">
          <input type="email" name="email" id="" placeholder="Email" />
          <input type="password" name="password" id="" placeholder="Password" />
          <input type="submit" value="SignIn" class="btn">
        </form>
      </div>
    </div>
  </body>
</html>
